/* uni.scss */
$uni-color-primary: #8d6e63;
$uni-color-success: #67c23a;
$uni-color-warning: #e6a23c;
$uni-color-error: #f56c6c;
$uni-text-color: #303133;
$uni-text-color-inverse: #fff;
$uni-text-color-grey: #909399;
$uni-text-color-placeholder: #c0c4cc;
$uni-text-color-disable: #c0c4cc;
$uni-bg-color: #ffffff;
$uni-bg-color-grey: #f5f7fa;
$uni-bg-color-hover: #f1f1f1;
$uni-bg-color-mask: rgba(0, 0, 0, 0.4);
$uni-border-color: #dcdfe6;