<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mumuwest.mumumike.mapper.OrderMapper">

    <insert id="createOrder" parameterType="com.mumuwest.mumumike.pojo.Order">
        INSERT INTO order (user_id, product_id, quantity, order_date)
        VALUES (#{userId}, #{productId}, #{quantity}, #{orderDate})>
    </insert>
</mapper>