<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mumuwest.mumumike.mapper.UserMapper">
    <update id="updateUserInfo" parameterType="com.mumuwest.mumumike.pojo.User">
        update user set
            username = #{username},
            password = #{password},
            email = #{email},
            phone = #{phone}
        where id = #{id}
    </update>

    <select id="selectUserByUsername" parameterType="String" resultType="com.mumuwest.mumumike.pojo.User">
        SELECT * FROM user WHERE username = #{username}
    </select>

    <insert id="insertUser" parameterType="com.mumuwest.mumumike.pojo.User">
        INSERT INTO user (username, password, email, phone) VALUES (#{username}, #{password}, #{email}, #{phone})
    </insert>



</mapper>